*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-image: url("Portfolio/blob/main/img/hero-bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;

}
.header {
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;

}
.navlinks li{
    list-style-type: none;
    display: inline;
    margin: 20px;
    font-size: 20px;
}
.navlinks a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navbar {
    padding: 20px;
}
.header h1 {
    padding: 20px;
    margin-left: 80px;
}
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment:scroll;
    height: 100vh;
    width: 55%;
    transform: translateX(-100%);
    animation: slideIn 1s ease-out forwards;

}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.content h1{
    color: white;
    font-size: 80px;
}
.content h3 {
    color: white;
    font-size: 25px;
}
.icons {
    width: 65%;
    height: 100px;
    padding: 10px;
}
.icons img {
    width: 40px;
    height: 40px;
    padding:2px;
    margin: 5px;
    background-color: grey;
    border-radius: 50%;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.975);
    color: white;
    height: 350px;
}
.footer-icons img {
    width: 40px;
    height: 40px;
    padding:2px;
    margin: 5px;
    background-color: grey;
    border-radius: 50%;
}
.line {
    width:80%;
    border-bottom: 2px grey solid;
}
@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}
