* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #142027;
}
.header {
    background-color: #142027;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px gray solid;

}
.logo{
    width: 50px;
    height: 50px;
}
.insta {
    width: 40px;
    height: 40px;
}
.nav-links{
    margin-left: 40px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    margin: 15px;
}
.nav-links a:hover{
    color:#1387c1;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #142027;
}
.left {
    width: 50%;
    color: white;
    margin-left: 50px;

}
.left span {
    color: royalblue;
}
.left p {
    color: grey;
    margin-bottom: 20px;
    margin-top: 20px;
}
.left h1{
    margin-bottom: 10px;
    font-size: 50px;
}
.left h4 {
    font-size: 20px;
}
.right {
    width: 50%;
}
.main-img {
    width:60%;
    margin-left: 100px;
    border-radius: 20px;
    transition: transform 1s ease;
}
.btn1 {
    background-color:#1387c1;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    font-weight: bold;
}
.login{
    background-color:#1387c1;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold;
    width: 80px;
}
.btn2 {
    background-color: transparent;
    border: 1px solid #1387c1;
    color: #1387c1;
    font-size: 15px;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
}
.im1{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.footer {
    background-color: #142027;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-top: 1px solid gray;
    flex-direction: column;
}
button:hover {
    cursor:pointer;
}
.login:hover, .btn1:hover {
    background-color: #1e3542;
}
.btn2:hover {
    background-color: #1387c1;
    color: white;
}
.main-img:hover{
    transform: translate(0,20px);
}
.cards{
    display: flex;
    gap: 20px;
    margin: 50px;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #f3efef;
    border-radius: 20px;
}
.card{
    width: 30%;
    background-color:azure;
    border-radius: 20px;
    border: #1387c1 2px solid;
    height: 500px;
    padding: 10px;
    transition: transform 1s ease;
}
.card img {
    width: 100%;
    border-radius: 20px;
    text-align: center;
}
.text {
    text-align: center;
    color: #1387c1;
    animation: ChangeColor 1s ease infinite;
    border-top:#1e3542 2px solid;
    padding: 20px;
}
.category {
    background-color: #142027;
    width: 15%;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.more {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 15px;
}
.more a {
    text-decoration: none;
    color: #1387c1;
}
.card:hover{
    transform: translate(0, 20px);
}
@keyframes ChangeColor {
    0% {
        color: #1e3542;
    }
    25%{
        color:#1387c1;
    }
    50%{
        color: aqua;
    }
    100%{
        color:#1387c1;
    }
}